@import url('https://fonts.googleapis.com/css?family=Roboto');
/* General styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #a9d878;
}

#container {
    width: 90%;
    margin: 10% auto;
    padding: 3%;
    background: #D1D5C9;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-right: .5rem solid #1E7D4C;
    border-left: .5rem solid #D52B1E;
}

@media (min-width: 481px) {
    #container {
        margin: 2% auto;
    }
}

#content-title {
    font-size: 1.5rem;
}

@media (min-width: 481px) {
    #content-title {
        font-size: 3.5rem;
        padding: 1rem 0;
    }
}

/* Header */

.header {
    width: 100%;
    min-height: 12rem;
    display: grid;
    grid-gap: 2%;
    grid-template-rows: 19% 49% 29%;
    grid-template-columns: 34% 29% 34%;
    grid-template-areas: 'details details details' 'flag1 score flag2' 'team1 . team2';
}

.details {
    font-size: 1rem;
    grid-area: details;
    padding: 0 0 3% 0;
}

@media (min-width: 481px) {
    .details {
        font-size: 1.5rem;
    }
}

.flag {
    border-radius: 15%;
}

.team {
    padding: 5% 0;
    font-size: 1.4rem;
    font-weight: 600;
}

@media (min-width: 768px) {
    .team {
        font-size: 2.3rem;
    }
}

@media (min-width: 1281px) {
    .team {
        font-size: 3rem;
    }
}

#score {
    font-size: 1.6rem;
    grid-area: score;
    align-self: center;
    cursor: pointer;
}

@media (min-width: 481px) {
    #score {
        font-size: 3rem;
        white-space: nowrap;
    }
}

#team1 {
    grid-area: team1;
}

#team2 {
    grid-area: team2;
}

.team:hover,
.flag:hover {
    cursor: pointer;
}

/* Stats section */

#content {
    width: 100%;
}

#stats {
    width: 100%;
    padding: 0 0 5% 0;
    display: grid;
    grid-gap: 10%;
    grid-template-columns: 45% 45%;
}

@media (min-width: 481px) {
    #stats {
        grid-gap: 3.3%;
        grid-template-columns: 30% 30% 30%;
    }
}

.stat {
    padding: 8%;
}

.stat-value {
    font-size: 1.4rem;
    /* color: #1E7D4C; */
    font-weight: 700;
}

@media (min-width: 481px) {
    .stat-value {
        font-size: 3rem;
    }
}

.russia-color {
    color: #D52B1E;
}

.saudi-arabia-color {
    color: #1E7D4C;
}

.stat-name {
    font-size: 1.2rem;
    font-weight: 400;
}

@media (min-width: 481px) {
    .stat-name {
        font-size: 2rem;
    }
}

/* Highlights */

#highlights {
    display: block;
    padding: 5% 5%;
}

@media (min-width: 481px) {
    #highlights {
        font-size: 1.5rem;
    }
}

.highlight {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 1%;
}

.minute {
    text-align: left;
    flex-basis: 5%;
    align-self: flex-start;
}

.event {
    text-align: left;
    flex-basis: 75%;
}

.icon {
    text-align: right;
    flex-basis: 10%;
}

@media (min-width: 481px) {
    .minute {
        flex-basis: 10%;
    }
    .event {
        flex-basis: 80%;
    }
    .icon {
        flex-basis: 5%;
    }
}

@media (min-width: 1281px) {
    .minute {
        flex-basis: 5%;
    }
    .event {
        flex-basis: 85%;
    }
    .icon {
        flex-basis: 5%;
    }
}

.card {
    width: .7rem;
    height: 1rem;
    background: yellow;
    display: inline-block;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.fa-arrow-down {
    color: red;
}

.fa-arrow-up {
    color: green;
}

/* Footer section */

footer {
    font-size: 1rem;
}

@media (min-width: 481px) {
    footer {
        font-size: 1.5rem;
    }
}